.body{
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common{
    /* background-color: lightslategray; */
    border: 2px;
    position:absolute;
}
.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    width: 100%;
    z-index: 2;
    border-bottom: #555555 solid 1px;
}
.leftmenu{
    top: 114px;
    left: 5px;
    bottom: 39px;
    width: 100px;
    z-index: 1;
    padding-top: 40px;
    border-right: #555555 solid 1px;
    padding-right: 5px;
}
.mainbody{
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
}
.rightmenu{
    top: 114px;
    right: 5px;
    bottom: 39px;
    width: 100px;
    border-left: #555555 solid 1px;
    padding-left: 5px;
}
.footer{
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 25px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}
.subheader{
    float: right;
}